---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Liam, a fullstack software engineer from Ireland. I currently
        work remotely out of London, UK.
        <br />
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Golang</li>
        <li>Astro</li>
        <li>Rust</li>
        <li>Nodejs</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about traveling, reading and problem
      solving. An unusual hobby of mine is playing chess for my local club and
      county.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
